body {
    background-color: #a9a9a956;  
}
span{
    color: rgba(151, 153, 155, 0.762);
    font-size:smaller;
    margin-top: 0px;
    padding-top: 0px;
}
label{
    color:#4d4c4aea;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
